[submodule "dot_emacs_dir"]
	path = .emacs.d
	url = ssh://trac.servabit.it/home/mbardelli/gitz/dotEmacsStuff.git
[submodule "dot_srecode_dir"]
	path = .srecode
	url = ssh://trac.servabit.it/home/mbardelli/gitz/dotSrecodeStuff.git

